BOT_ID=123456789
TOKEN=SCVDVC31.SCQ.QCDSCQCSQ

PXLS_URL=http://pxls.space
# Set to mongodb://mongo:27017/ for docker
DB_CONNECTION=mongodb://127.0.0.1:27017/
EMBED_COLOR=0x5865f2

#  Leave blank in prod, fill in with testing guild id when debugging.
TEST_GUILD_ID=123456789
