[pylint]
[GENERAL]
jobs=0

disable=
	too-few-public-methods,
	duplicate-code,
	logging-fstring-interpolation,
	too-many-instance-attributes,
    fixme,
    missing-module-docstring,
    duplicate-code,
    broad-except,
    too-many-arguments,
    raise-missing-from

no-docstring-rgx=^(_|setup$|.*Command$)
init-hook="import sys; sys.path.append('src')"

[TYPECHECK]

# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=numpy.*, websockets.connect, cv2.*

[FORMAT]
good-names=i,j,x,y,ox,oy

